.table_wrap{
    overflow-x: auto;
    width: 500px;
    padding: 10px 0;
}
.table_box{
    width: 100%;
    min-width: 700px;
}

@media (max-width: 992px) {
    .table_wrap{
        width: 800px;
    }
  }
@media (max-width: 840px) {
    .table_wrap{
        width: 700px;
    }
  }
@media (max-width: 740px) {
    .table_wrap{
        width: 600px;
    }
  }
@media (max-width: 640px) {
    .table_wrap{
        width: 500px;
    }
  }
@media (max-width: 540px) {
    .table_wrap{
        width: 400px;
    }
  }
@media (max-width: 440px) {
    .table_wrap{
        width: 300px;
    }
  }